.board-container {
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.board-container h1 {
  font-size: 28px;
  text-align: left;
  margin-bottom: 10%;
}

.board-logo {
  text-align: center;
}

.board-logo img {
  width: 50px;
  margin-bottom: 10%;
}

.board-content {
  text-align: left;
  margin-left: 0;
}

.board-section {
  text-align: left;
  margin-bottom: 5%;
}

.board-section h2 {
  font-size: 24px;
  margin-bottom: 5%;
}

.name {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5%;
}

.board-section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;

  li {
    margin-bottom: 3%;
    list-style-type: none;
  }
}
