@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

$caption-color: #535353;
$brand-color-primary: #dff2c8;
$brand-color-secondary: #bfd99e;
$text-color: #333;
$highlight-color: #556b2f;
$quote-bg-color: #c1dcaf;

$font-size-base: 16px;
$font-family-base: "Roboto", Arial, sans-serif;
$font-weight-base: 400;
$line-height-base: 1.6;
$body-color: #333;
$body-bg: #dff2c8;

@mixin font-size($size) {
  font-size: $size;
  line-height: $line-height-base;
}

body {
  margin: 0;
  font-family: $font-family-base;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  color: $body-color;
  text-align: center; // Center-align body content
  background-color: $body-bg;
}

.containerCSBenifit {
  background-color: $brand-color-primary;
  padding: 20px 0;
}

#main-content {
  padding: 24px 0 32px 0;
}

.text-title-md-cs {
  font-size: 2.2rem;
  font-weight: 900;
  color: $highlight-color;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.picture-cs,
.picture {
  width: 90%;
  max-width: 800px;
  height: auto;
  margin: 15px auto;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.text-caption-cs,
.text-caption {
  color: $caption-color;
  font-size: 0.85rem;
  text-align: center;
  margin-top: 5px;
}

.text-normal-cs,
.text-normal {
  max-width: 800px; // Limit the width of the paragraph
  margin: 0 auto 15px; // Center align with auto margins
  padding: 0 20px; // Add padding to avoid edges
  font-size: 1.05rem;
  line-height: 1.7;
  color: $text-color;
  text-align: justify;
}

.rectdiv2CS {
  background-color: $quote-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px; // Reduce height to fit content
  //margin: 20px auto; // Center-align the quote section
  //padding: 10px;
  //max-width: 800px;
}

.recttextCS {
  // font-size: 1.6rem;
  // font-weight: 500;
  // color: $highlight-color;
  // text-align: center;
  // line-height: 1.4;
  // width: 80%;

  max-width: 500px; // Limit the width of the paragraph
  margin: 0 auto 15px; // Center align with auto margins
  padding: 0 20px; // Add padding to avoid edges
  font-size: 1.20rem;
  line-height: 1.7;
  color: $text-color;
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: $brand-color-secondary;
  padding: 20px;
  text-align: center;
  color: $caption-color;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}

.pictureCS{
  object-fit: contain;
    width: max(100%, 300px);
    height: 450px;
}


footer p {
  margin: 5px 0;
}

footer a {
  color: $highlight-color;
  text-decoration: none;
  font-weight: bold;
}
