#login-h1 {
  margin-top: 5rem;
}

#loginError-h3 {
  display: none;  // Hide the element by default
  
  &.show {
    display: block;  // Show the element when it has content
  }
}



footer {
  margin-top: 5% ;
}
.login-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  .login-input-field {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    position: relative;
    width: 20rem;

    input {
      // width: 100%;
      // height: 140%;
      // border: none;
      // border-bottom: 2px solid silver;
      // font-size: 1.1rem;
      // outline: none;

      outline-style: none;
      margin-top: 20px;
      padding: 15px 32px;
      font-size: 22px;
      font-family: Roboto !important;
      font-weight: 500;
      font-family: normal;
      background-color: #fff;
      color: #000;
      border: 3px solid #d64309;
      border-radius: 8px;
      width: 75%;
    }

    input:focus ~ label,
    input:valid ~ label {
      transform: translateY(-15px);
      border: none;
      color: black;
    }

    .underline {
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 100%;
    }
    .underline:before {
      position: absolute;
      content: "";
      height: 80%;
      width: 80%;
      background: black;
      transform: scale(0);
      bottom: -12px;
      left: 32px;
    }

    input:focus ~ .underline:before,
    input:valid ~ .underline:before {
      transform: scale(1.01);
      transition: transform 0.4s ease;
    }

    label {
      position: absolute;
      bottom: 0px;
      left: 35px;
      color: grey;
      pointer-events: none;
      transition: all 0.3s ease;
    }
  }
  button {
    position: relative;
    background: #ead94c;
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 35px;
    margin-left: 1%;
    width: 20%;
    border-radius: 0.5rem;
  }

  button:hover {
    background: rgb(46, 221, 46);
    letter-spacing: 0.25rem;
  }
}

.additional-options {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 1.5rem;

  font-weight: bold;
  font-size: 1rem;

  a {
    position: relative;
    text-decoration: none;
    color: black;
    letter-spacing: 0.4px;
  }
  a::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
  }
  a:hover::after {
    width: 100%;
  }
}