.footer-container{
    width: 100%;
    height: auto;
    background-color: #BFD99E;
    display: flex;
    justify-content: center;
    gap: 10em;
}
.footer-info{
    width: 25%;
    height: 100%;
}
.footer-info .footer-icons{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 2em;
    margin-top: 50px;
}
.footer-email{
    margin-bottom: -7vh;
}
.footer-phone{
    margin-bottom: -4vh;
}
.footer-icons #twitter-icon{
    width: 50%;
}
.footer-icons #insta-icon{
    width: 50%;
}.footer-icons #fb-icon{
    width: 30%;
}.footer-icons #google-icon{
    width: 50%;
}
.footer-sponsors{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sponsors-list{
    list-style-type: none;
}
.sponsors-list li{
    margin-bottom: 1vh;
}
.footer-PH{
    width: 30%;
}
.footer-partners{
    width: 20%;
    height: 100%;
    text-align: center;
}
.partners-list-1{
    list-style-type: none;
}