@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-bg-main: #dff2c8;
  --color-bg-accent: #bfd99e;
  --color-bg-lightbox: #e8f0d9;

  --color-deep-green: #2f4f2f;
  --color-green: #556b2f;
  --color-green-hover: #6b8e23;

  --color-black-solid: #101010;
  --color-black-hover: #1e1e1e;
  --color-dark-text: #3a3a3a;

  --color-glow-purple-1: #e2cbff;
  --color-glow-purple-2: #393bb2;
}
