@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$brand-color-primary: #e5f3d2;
$brand-color-secondary: #BFD99E;
$brand-color-tertiary: #7FCC26;
$brand-color-background-grey: #D4DDDD;
$inventory-tab-color: #E2CC44;
$inventory-tab-active: linear-gradient(120deg, #FF4747, #3FAEFF, #7FFF30, #A8EC16);

#main-inventory-content {
    background-color: $brand-color-primary;
    background-image: url("../../images/chess-piece-pattern.png");
    background-size: 95%;
    background-repeat: repeat;
    font-family: "Roboto", sans-serif;
    padding-bottom: 48px;

    // Inventory Intro Section
    .inv-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
    }

    .inv-intro-portrait {
        position: relative;
        border: 2px solid black;
        background: $brand-color-background-grey;
        border-radius: 6px;
        width: 96px;
        height: 96px;
    }

    .inv-intro-portrait-face {
        width: 100%;
        height: 100%;
    }

    .inv-intro-portrait-camera {
        position: absolute;
        background: rgba($color: white, $alpha: 0.85);
        border-radius: 6px;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 24px;
        padding: 1px;
        margin: 4px;
    }

    .inv-intro-welcome > h1 {
        margin: 2rem 0 0 0;
        padding: 0;
    }

    // Inventory Section
    .inv-inventory {
        background: $brand-color-background-grey;
        width: clamp(1100px, 80%, 1200px);
        margin: auto;
        border-radius: 0.8rem;
        overflow: hidden;
    }

    .inv-inventory-topbar {
        background: $brand-color-tertiary;
        padding: 1.2em 0;
        margin: 0;
    }
    .inv-inventory-topbar > h2 {
        padding: 0;
        margin: 0;
    }

    .inv-inventory-analytics {
        padding: 6em 3rem;
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 1rem;
    }

    .inv-inventory-analytics-graph > img {
        width: 80%;
    }

    .inv-inventory-analytics-metrics {
        text-align: left;
    }

    .inv-inventory-analytics-metrics > ul {
        padding: 0 0.2rem;
    }
    .inv-inventory-analytics-metrics > ul > li {
        position: relative;
        margin: 0 0 12px 0;
        list-style: none;
    }
    .inv-inventory-analytics-metrics > ul > li::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        padding: 0 0 0 0;
        margin: 0 1rem 0 0;
        background-color: $brand-color-tertiary;
        border: 3px solid black;
    }

    .inv-inventory-analytics-metrics > h3 {
        font-size: 1.6rem;
        margin: 0 0 1.5rem 0;
    }

    // Inventory Menu Section
    .inv-inventory-content-section {
        background: $brand-color-secondary;
        width: 95%;
        margin: 2rem auto;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 35% 65%;
    }

    .inv-inventory-content-tabs {
        position: relative;
    }

    .inv-inventory-content-tabs > ul {
        background: $brand-color-background-grey;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .inv-inventory-content-tabs > ul > :first-child {
        border-top-left-radius: 1rem;
    }
    .inv-inventory-content-tabs > ul > :last-child {
        border-bottom-left-radius: 1rem;
        margin: 0;
    }

    .inventory-tab {
        background: $inventory-tab-color;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 75px;
        text-align: left;
        font-weight: 600;
        margin: 0 0 1rem 0;
    }

    .inv-inventory-content-content {
        padding: 1rem 4rem;
    }

    .inventory-content {
        position: relative;
        display: none;
        height: 100%;
    }

    .active-tab {
        background-color: $brand-color-secondary;
    }
    .active-content {
        display: block;
    }

    .inventory-content-headingbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1rem 0 0.7rem 0;
        border-bottom: 1px solid rgb(120, 120, 120);
    }
    .inventory-content-headingbar > h2,
    .inventory-content-headingbar > h4 {
        padding: 0; 
        margin: 0;
    }

    .inventory-content-headingbar > h4 {
        color: rgb(120, 120, 120);
        font-weight: 400;
        font-size: 0.9rem;
    }

    .inventory-content-body {
        position: relative;
        display: grid;
        height: 95%;
    }

    .inventory-content-line {
        position: absolute;
        height: 70%;
        top: 15%;
        left: 2.5%;
    }

    .inventory-content-line::after {
        content:"";
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 3px dotted #222;
    }

    .inventory-content-timecard {
        display: grid;
        grid-template-columns: 10% 45% 45%;
        text-align: left;
        margin: 2rem 0;
    }

    .inventory-content-timecard > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .inventory-content-col1::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 0 0 0 0;
        margin: 0 1rem 0 0;
        background-color: $brand-color-tertiary;
        border: 4px solid black;
    }

}