
.main-content {
  width: 100%;
  height: auto;
  margin-top: 10px;

  // FIRST MISSION SECTION
  .mission-header {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;

    .mission-statement-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      
      h1 {
        padding-top: 5%;
        font-size: 30px;
        text-align: left;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        text-align: left;
        line-height: 1.5;
      }
    }

    figure {
      margin: auto 0;
    }
  }

  // LOGO BREAK IMAGE
  .logo-break {
    margin: 0 auto;
  }

}
