.whole-page {
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 2.3rem;
}

.list {
    list-style-type: none;
    font-size: 1.5rem;
}

.list li {
    margin-top: 0.5rem;
}


.item-template {
    background-color: whitesmoke;
    color: green;
    width: 100%;
    height: 7vh;
    border: 0.05rem solid black;
    justify-content: center;
    align-items: center;
}

.item-template:hover {
    cursor: pointer;
}

.subsections-list {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.subsection-item {
    display: flex;
    width: 0vw;
    height: 8vh;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    width: 69vw;
    overflow-y: auto;
}

.enterInfo {
    margin-top: 1.5rem;
    width: 10vw;
    height: 10vh;
    border-radius: 1rem;
    font-size: 2.5rem;
    background-color: green;
}

.selector {
    display: flex;
    height: 10vh;
    width: 70vw;
    row-gap: 1rem;
    border-radius: 1rem;
    border: 0.3rem solid black;
    background-color: #FAF9F6;
    align-items: center;
    padding-left: 0.3rem;
    font-size: 2rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.selector:hover {
    cursor: pointer;
}
