.chess-body {
    background-image: linear-gradient(#bac2d8, #b9dde1, #fff3d9, #fff3d9);
}

button {
    background-color: #0046fd;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: 0px 20px 0px 20px;;
}

input {
    border: black;
    border: 1px solid;
    padding: 5px;
    width: 40px;
    text-align: center;
}

iframe {
    border: none
}