.lessons-page {
  padding-top: 5%;
  padding-bottom: 10%;
  background-image: url("chess_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-right-container {
  display: flex;
}

.left-container {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.right-container {
  width: 50%;
  height: 100%;
  margin: auto 30px;
  padding-top: 5rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* Button styles */
.lesson-button, .play-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #4CAF50; /* Green background */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1; /* Ensure buttons appear above the chessboard */
  display: inline;
  justify-content: space-evenly;
}

.lesson-button {
  margin-left: 2rem;
}

.play-button {
  margin-right: 2rem;
}
.lesson-button:hover, .play-button:hover,.lesson-pawn-button:hover, .lesson-rook-button:hover {
  background-color: #45a049; /* Darker green on hover */
}


.lesson-buttons-container {
  display: block;
}

.lesson-piece-button_L {
  padding: 10px 20px;
  margin: 5px auto;
  display: block;
  border: none;
  background-color: #4CAF50; /* Green background */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1; /* Ensure buttons appear above the chessboard */
  width: 20%;
  height: 55px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.lesson-piece-button_L:hover {
  background-color: #3e8940;
  transition: background-color 0.5s ease;
}

.lesson-choice-buttons {
  background-color: #4e674e; /* Green background */
  font-size: 1rem;
  cursor: pointer;
  margin: 7px;
  border-radius: 10px;
  width: 25%;
  transition: background-color 0.5 ease;
}

.lesson-choice-buttons:hover {
  background-color: #080e09; /* Darker green on hover */
  transition: background-color 0.5 ease;
}

.choice-buttons {
  background-color: #4e674e; /* Green background */
  font-size: 1rem;
  cursor: pointer;
  margin-top: 4px;
}

.choice-buttons:hover {
  background-color: #080e09; /* Darker green on hover */
}

.description {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 1rem;
  border: 3px solid black;
  background-color: beige;
  border-radius: 30px;
}

.piece_description {
  font-size: 2rem;
  padding-top: 1rem;
  font-weight: bold;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


/* Chessboard Container */
.chessboard-container_L {
  width: 40vw; /* Container width takes full space */
  height: 100%;
  margin-left: 100px;
}

/* Chessboard styles */
.chessboard_L {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 5vw); /* 8 columns with equal width */
  grid-template-rows: repeat(8, 5vw);    /* 8 rows with equal height */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.square_L {
  width: 100%;
  height: 100%;
  position: relative; /* Set the square as a positioning reference */
}

.highlight-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%; /* 25% of the square's width */
  height: 40%; /* 25% of the square's height */
  background-color: gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Labels for ranks (1-8) */
.rank-label {
  position: absolute;
  top: 4px; /* Top-left corner */
  left: 4px;
  font-size: 12px;
  color: #333;
}

/* Labels for files (a-h) */
.file-label {
  position: absolute;
  bottom: 4px; /* Bottom-right corner */
  right: 4px;
  font-size: 12px;
  color: #333;
}

.pawn-image, .piece-image {
  width: 90%;  /* Scale pieces based on square size */
  height: 90%;
  object-fit: contain; /* Ensure the image fits nicely within the square */
}



