* {
  // border: 1px solid gold;
  --green-color: #7FCC26;
  --gray-color: #666565;
}

.lessons-page {
  padding-top: 5%;
  padding-bottom: 10%;
  background-image: url("chess_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-right-container {
  display: flex;
}

.left-container {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
}

/* Button styles */
.lesson-button, .play-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: var(--green-color); /* Green background */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1; /* Ensure buttons appear above the chessboard */
  display: inline;
  justify-content: space-evenly;
}

.lesson-button, .play-button {
  background-color: transparent;
  font-size: 40px;
  font-weight: bolder;
}

.lesson-button {
  color: var(--green-color);
  margin-left: -1rem;
}

.play-button {
  color: #4f4e4e;
  margin-right: -1rem;
}

.lesson-button:hover, .play-button:hover {
  background-color: transparent;
  color: black;
}

.right-container {
  box-sizing: border-box;
  width: 33%;
  margin: 6rem 30px 0px 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.lesson-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.description {
  margin: 1rem;
}

.subheading {
  font-size: 2rem;
  margin: 3rem 0;
  text-align: left;
}

.reset-lesson {
  background-color: var(--green-color);
  height: 3rem;
  margin: auto 0;
}

.piece_description {
  font-size: 3rem;
  padding-top: 1rem;
  font-weight: bold;
}

.lesson-description {
  font-size: 2rem;
  color: var(--gray-color);
}

.prev-next-button-container {
  display: flex;
  justify-content: space-between;
  margin: auto -1rem 5rem -1rem;
  margin-top: auto;
  margin-bottom: 5rem;

}

.prevNextLessonButton {
  width: 200px;
  border-radius: 5px;
}

.next {
  background-color: var(--green-color);
}

.next:hover {
  background-color: #5d971b;
  transition: background-color 100ms linear;
}

.prev {
  background-color: #4f4e4e;
}

.prev:hover {
  background-color: rgb(50, 49, 49);
  transition: background-color 100ms linear;
}

.lesson-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lesson-piece-button_L {
  margin: 5rem 0;
  background-color: var(--gray-color); /* Gray background */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1; /* Ensure buttons appear above the chessboard */
  width: 250px;
  height: 40px;
  border-radius: 0;
  transition: background-color 0.5s ease;
  font-weight: bold;
}

.lesson-piece-button_L:hover {
  background-color: #4f4e4e;
  transition: background-color 0.5s ease;
}

.lesson-choice-buttons {
  background-color: #7FCC26; /* Green background */
  border: 1px solid black;
  font-size: 1rem;
  height: 50px;
  cursor: pointer;
  margin: 7px;
  border-radius: 10px;
  width: 25%;
  transition: background-color 0.5 ease;
}

// ::-webkit-scrollbar {
//   width: 0px;
//   background: transparent; /* make scrollbar transparent */
// }

// .lesson-choice-buttons:hover {
//   background-color: #080e09; /* Darker green on hover */
//   transition: background-color 0.5 ease;
// }

// .choice-buttons {
//   background-color: #4e674e; /* Green background */
//   font-size: 1rem;
//   cursor: pointer;
//   margin-top: 4px;
// }

// .choice-buttons:hover {
//   background-color: #080e09; /* Darker green on hover */
// }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


/* Chessboard Container */
.chessboard-container_L {
  width: 44vw; /* Container width takes full space */
  height: 100%;
  margin-left: 100px;
}

/* Chessboard styles */
.chessboard_L {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 5.5vw); /* 8 columns with equal width */
  grid-template-rows: repeat(8, 5.5vw);    /* 8 rows with equal height */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.square_L {
  width: 100%;
  height: 100%;
  position: relative; /* Set the square as a positioning reference */
}

.highlight-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%; /* 25% of the square's width */
  height: 40%; /* 25% of the square's height */
  background-color: gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Labels for ranks (1-8) */
.rank-label {
  position: absolute;
  top: 4px; /* Top-left corner */
  left: 4px;
  font-size: 1rem;
  color: #333;
}

/* Labels for files (a-h) */
.file-label {
  position: absolute;
  bottom: 4px; /* Bottom-right corner */
  right: 4px;
  font-size: 1rem;
  color: #333;
}

.pawn-image, .piece-image {
  width: 90%;  /* Scale pieces based on square size */
  height: 90%;
  object-fit: contain; /* Ensure the image fits nicely within the square */
}



