* {
  // border: 1px solid gold;
  --green-color: #7FCC26;
  --gray-color: #7A7A7A;
  --light-gray-color: #D4DDDD;
  --dark-green-color: #5d971b;
}

.lessons-page {
  padding-top: 2%;
  background-image: url("chess_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-right-container {
  display: flex;
}

.left-container {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
}

/* Button styles */
.lesson-button, .play-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: var(--green-color); /* Green background */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1; /* Ensure buttons appear above the chessboard */
  display: inline;
  justify-content: space-evenly;
}

.lesson-button, .play-button {
  background-color: transparent;
  font-size: 40px;
  font-weight: bolder;
}

.lesson-button {
  color: var(--green-color);
  margin-left: -1rem;
}

.play-button {
  color: var(--gray-color);
  margin-right: -1rem;
}

.lesson-button:hover {
  background-color: transparent;
  color: var(--dark-green-color)
}

.play-button:hover {
  background-color: transparent;
  color: black
}

.right-container {
  box-sizing: border-box;
  width: 33%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.lesson-header {
  display: flex;
  justify-content: space-between;
  align-items:last baseline;
}

.description {
  margin: 1rem;
}

.subheading {
  font-size: 24px;
  margin: 1rem 0;
  text-align: left;
  font-weight: bold;
}

.reset-lesson {
  background-color: var(--green-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}

.reset-lesson:hover {
  background-color: var(--dark-green-color);
}

.piece_description {
  font-size: 40px;
  font-weight: bold;
}

.lesson-description {
  font-size: 24px;
  color: var(--gray-color);
}

.prev-next-button-container {
  display: flex;
  justify-content: space-between;
  margin: auto -1rem 5rem -1rem;
  margin-top: auto;
  margin-bottom: 5rem;

}

.prevNextLessonButton {
  width: 160px;
  height: 60px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-description {
  font-size: 20px;
  font-weight: bold;
}

.next {
  background-color: var(--green-color);
}

.next:hover {
  background-color: var(--dark-green-color);
  transition: background-color 100ms linear;
}

.prev {
  background-color: var(--light-gray-color);
}

.prev:hover {
  background-color: var(--gray-color);
  transition: background-color 100ms linear;
}

.lesson-buttons-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.lesson-buttons {
  margin: 3rem 0;
  background-color: var(--gray-color); /* Gray background */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1; /* Ensure buttons appear above the chessboard */
  width: 180px;
  height: 40px;
  border-radius: 0;
  transition: background-color 0.5s ease;
  font-weight: bold;
}

.lesson-buttons.active {
  background-color: var(--green-color);
  color: black;
  transition: background-color 0.5s ease;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


/* Chessboard Container */
.chessboard-container_L {
  width: 44vw; /* Container width takes full space */
  height: 100%;
  margin-left: 100px;
}

/* Chessboard styles */
.chessboard_L {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 5.5vw); /* 8 columns with equal width */
  grid-template-rows: repeat(8, 5.5vw);    /* 8 rows with equal height */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.square_L {
  width: 100%;
  height: 100%;
  position: relative; /* Set the square as a positioning reference */
}

.highlight-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%; /* 25% of the square's width */
  height: 40%; /* 25% of the square's height */
  background-color: gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Labels for ranks (1-8) */
.rank-label {
  position: absolute;
  top: 4px; /* Top-left corner */
  left: 4px;
  font-size: 1rem;
  color: #333;
}

/* Labels for files (a-h) */
.file-label {
  position: absolute;
  bottom: 4px; /* Bottom-right corner */
  right: 4px;
  font-size: 1rem;
  color: #333;
}

.pawn-image, .piece-image {
  width: 90%;  /* Scale pieces based on square size */
  height: 90%;
  object-fit: contain; /* Ensure the image fits nicely within the square */
}



