.nav-bar {
  display: flex;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  a {
      text-decoration: none;
  }

  .nav-links {
    margin-right: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    .links {

      text-decoration: none;
      color: black;
      font-size: 20px;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: rgb(22, 216, 87);
      }
    }

    .dropdown {
      position: relative;

      .dropdown-menu {
        position: absolute;
        left: -100%;

        background-color: white;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
        display: flex;
        gap: 2rem;
        width: 25rem;
        flex: 1;

        .education {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          h3 {
            margin: none;
            border: 2px solid black solid;
          }
        }

        .what-we-do {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
      .dropdown-menu:active {
        opacity: 1;
      }
    }
  }
}
