.board-container {
    padding: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.board-container h1 {
    font-size: 28px;
    text-align: left;
    margin-bottom: 10%;
}

.board-logo {
    text-align: center;
}

.board-logo img {
    width: 50px;
    margin-bottom: 10%;
}

.board-content {
    text-align: left;
    margin-left: 0;
}

.section {
    text-align: left;
    margin-bottom: 5%;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 5%;
    margin-left: -2%;
}

.name {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    margin-bottom: 5%;
}

.section ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10%;
}

.section li {
    margin-bottom: 3%;
}

