body {
    background-color: #E5F3D2;
    background-image: url("../../images/chess-piece-pattern.png");
}

#mainElements {
    padding: 20px 0px 20px 0px;
    height: 46rem;
    iframe {
        min-width: 700px;
        min-height: 700px;
        overflow: visible;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

#hintMenu {
    padding: 20px 0px 20px 0px;
    height: 700px;
    width: 400px;
    background-color: #BFD99E;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

button {
    display: inline-block;
    font-size: large;
}