body {
    background-color: #E5F3D2;
    background-image: url("../../images/chess-piece-pattern.png");
}

.mainElements {
    padding: 20px 0px 20px 0px;
    height: 46rem;
    iframe {
        min-width: 500px;
        min-height: 500px;
        overflow: visible;
        margin-left: 35px;
        margin-top: 15px;
    }
}

.hintMenu {
    padding: 20px 0px 20px 0px;
    height: 250px;
    width: 45vw;
    background: rgba(255,255,255,0.60);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.hintText {
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding: 12px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 6px;
  color: rgb(106, 106, 106);
  font-size: 16px;
  text-align: left;
  line-height: 1.1;
  white-space: normal;
}

.button {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    background-color: #7FCC26;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}