*{
    font-family: sans-serif;
}
.home-container{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* FIRST SECTOR OF LANDING PAGE*/
.home-content1{
    width: 85%;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2em;
    margin-bottom: 50px;
}
.info{
    width: 50%;
    height: 100%;
}
.info h1{
    padding-top: 5%;
    font-size: 30px;
    text-align: left;
}
.info p{
    font-size: 25px;
    padding-top: 40px;
    text-align: left;

}
.donate-button{
    text-align: center;
    margin-right: 30%;
    margin-top: 5%;
    width: 25%;
    font-size: 140%;
    border: none;
    border-radius: 20px;
    height: 10%;
    background-color: rgb(182, 180, 180);
    box-shadow: 5px 5px 1px greenyellow;
}
.donate-button:hover{
    background-color: rgb(211, 209, 209);
    cursor: pointer;
}
#tree-group-img{
    width: 110%;
}
/* ------------------------------------- */

.logo-break{
    width: 85%;
}

#floating-h1{
    text-align: left;
    margin-left: 8%;
    font-size: 24px;
    margin-bottom: -10px;
}

.home-content2{
    width: 85%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10em;
    justify-content: center;
}

.card1{
    width: 35%;
    height: 600px;
    background-color: rgb(115, 179, 19);
    border-radius: 20px;
    box-shadow: 20px 20px 1px rgb(225, 243, 64);
}
.card2{
    width: 35%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(115, 179, 19);
    box-shadow: 20px 20px 1px rgb(115, 179, 19);

}